<app-login *ngIf="!currentUser"></app-login>
<div class="wrapper" *ngIf="currentUser">
  <!-- Navbar -->
  <app-admin-navbar></app-admin-navbar>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <app-admin-sidebar></app-admin-sidebar>

  <!-- Content Wrapper. Contains page content -->

  <div class="content-wrapper">
    <app-admin-header></app-admin-header>
    <router-outlet></router-outlet>
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <app-admin-footer></app-admin-footer>
  <!-- end Footer -->

</div>

<!-- ./wrapper -->